# *btest* initial steps

step-by-step

In [3]:
import argparse
import csv
import itertools
import logging
import os
import sys
import shutil
import time
import math
import random
from scipy.stats import pearsonr
import numpy as np
import pandas as pd
import math
from scipy.stats import spearmanr
from btest import config
from btest import utils
from btest import blockplot

In [4]:
dataX, dataY = utils.readData('~/Documents/omicsEye/btest/demo/X_dataset.txt', '~/Documents/omicsEye/btest/demo/Y_dataset.txt')

In [5]:
dataAll, featuresX, featuresY = utils.dataProcess(dataX, dataY)

In [6]:
dataAll

array([[ 5.,  6.,  5., ...,  1.,  4.,  3.],
       [ 5., nan,  4., ...,  1.,  4.,  3.],
       [ 5.,  5.,  5., ...,  2.,  4.,  4.],
       ...,
       [ 4.,  1.,  1., ...,  4.,  5.,  6.],
       [ 4.,  1.,  1., ...,  4.,  5.,  6.],
       [ 4.,  1.,  1., ...,  4.,  6.,  5.]])

In [7]:
def btest_corr(dataAll, featuresX, featuresY, method='spearman', fdr=0.1):
    iRow = len(dataAll)
    iCol = len(dataAll)
    tests = []
    features = featuresX + featuresY
    for i in list(range(iRow)):
        for j in list(range(iCol)):
            if i<=j:
                X = dataAll[i]
                Y=  dataAll[j]
                nas = np.logical_or(X != X, Y != Y)
                not_na = sum(~nas)
                #X = Y[~nas]
                #Y = Y[~nas]
                #new_X, new_Y = remove_pairs_with_a_missing(X, Y)
                correlation, pval = spearman(X, Y)
                tests.append([features[i],features[j],pval, correlation, not_na])
    results = pd.DataFrame(tests, columns = ['Feature_1','Feature_2','pval', 'Correlation', 'Not_NAs'])
    return results

In [8]:
start_time = time.time()
results = btest_corr(dataAll, featuresX, featuresY)
rho_excution_time = time.time() - start_time

In [9]:
rho_excution_time

10.688559770584106

In [10]:
results

      Feature_1 Feature_2          pval  Correlation  Not_NAs
0            X0        X0  0.000000e+00     1.000000       50
1            X0        X1  1.511519e-19     0.909559       49
2            X0        X2  6.554862e-20     0.909350       50
3            X0        X3  8.315076e-23     0.932087       50
4            X0        X4  2.588865e-22     0.931758       49
...         ...       ...           ...          ...      ...
20095       Y97       Y98  1.445902e-23     0.937008       50
20096       Y97       Y99  5.556863e-23     0.933255       50
20097       Y98       Y98  0.000000e+00     1.000000       50
20098       Y98       Y99  4.070674e-24     0.940343       50
20099       Y99       Y99  0.000000e+00     1.000000       50

[20100 rows x 5 columns]

In [11]:
rho_excution_time

10.688559770584106

In [12]:
within_X = results[results["Feature_1"].isin(featuresX) ]
within_X = within_X[within_X["Feature_2"].isin(featuresX) ]
within_X = within_X[within_X["Feature_1"] != within_X["Feature_2"]]

In [13]:
within_X

      Feature_1 Feature_2          pval  Correlation  Not_NAs
1            X0        X1  1.511519e-19     0.909559       49
2            X0        X2  6.554862e-20     0.909350       50
3            X0        X3  8.315076e-23     0.932087       50
4            X0        X4  2.588865e-22     0.931758       49
5            X0        X5  3.526796e-23     0.934547       50
...         ...       ...           ...          ...      ...
14642       X96       X98  1.325589e-22     0.930709       50
14643       X96       X99  6.324625e-21     0.918110       50
14745       X97       X98  1.696742e-19     0.905512       50
14746       X97       X99  6.324625e-21     0.918110       50
14848       X98       X99  1.696742e-19     0.905512       50

[4950 rows x 5 columns]

In [14]:
within_Y = results[results["Feature_1"].isin(featuresY)]
within_Y = within_Y[within_Y["Feature_2"].isin(featuresY)]
within_Y = within_Y[within_Y["Feature_1"] != within_Y["Feature_2"]]

In [15]:
within_Y

      Feature_1 Feature_2          pval  Correlation  Not_NAs
15051        Y0        Y1  2.876300e-19     0.903308       50
15052        Y0        Y2  8.391473e-23     0.932060       50
15053        Y0        Y3  1.296812e-26     0.953337       50
15054        Y0        Y4  9.458936e-22     0.924577       50
15055        Y0        Y5  1.211416e-18     0.897027       50
...         ...       ...           ...          ...      ...
20092       Y96       Y98  1.445902e-23     0.937008       50
20093       Y96       Y99  5.526886e-24     0.939555       50
20095       Y97       Y98  1.445902e-23     0.937008       50
20096       Y97       Y99  5.556863e-23     0.933255       50
20098       Y98       Y99  4.070674e-24     0.940343       50

[4950 rows x 5 columns]

In [16]:
X_Y = results[~np.logical_or(results["Feature_1"].isin(dataY.index), results["Feature_2"].isin(dataX.index))]
#X_Y = X_Y[X_Y["Feature_2"].isin(dataY.index) ]

In [17]:
X_Y

      Feature_1 Feature_2      pval  Correlation  Not_NAs
100          X0        Y0  0.654930    -0.064777       50
101          X0        Y1  0.846105    -0.028155       50
102          X0        Y2  0.835488    -0.030124       50
103          X0        Y3  0.719011    -0.052165       50
104          X0        Y4  0.931868    -0.012404       50
...         ...       ...       ...          ...      ...
15045       X99       Y95  0.358257     0.132703       50
15046       X99       Y96  0.150612     0.206299       50
15047       X99       Y97  0.320788     0.143307       50
15048       X99       Y98  0.163753     0.200000       50
15049       X99       Y99  0.285720     0.153967       50

[10000 rows x 5 columns]

In [18]:
rho_X_Y = pd.pivot(X_Y, index="Feature_1", columns = "Feature_2",values = 'Correlation') #Reshape from long to wide
rho_X = pd.pivot(within_X, index="Feature_1", columns = "Feature_2",values = 'Correlation') #Reshape from long to wide
rho_Y = pd.pivot(within_Y, index="Feature_1", columns = "Feature_2",values = 'Correlation') #Reshape from long to wide

In [19]:
rho_X_Y

Feature_2,Y0,Y1,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,...,Y90,Y91,Y92,Y93,Y94,Y95,Y96,Y97,Y98,Y99
Feature_1,,,,,,,,,,,,,,,,,,,,,
X0,-0.064777,-0.028155,-0.032880,0.028549,-0.008071,-0.045866,-0.010041,0.013192,0.002166,0.034849,...,0.005956,-0.081299,-0.072638,-0.075015,-0.124385,-0.060199,-0.068701,-0.081299,-0.072638,-0.101004
X1,-0.166641,-0.132381,-0.074402,0.001543,-0.091251,-0.115725,-0.077985,-0.059914,-0.071081,-0.019379,...,0.127439,0.014537,0.040030,0.042889,-0.020316,0.069628,-0.008864,0.035455,0.033337,0.002354
X10,-0.093670,-0.071618,-0.065859,-0.001920,-0.071850,-0.086811,-0.020427,0.004922,-0.028303,-0.002313,...,0.104007,0.000591,0.004528,0.008712,-0.042331,0.028155,-0.024606,-0.009646,0.010827,-0.020033
X11,-0.140136,-0.079888,-0.078559,-0.010189,-0.053740,-0.104134,-0.060986,-0.038000,-0.068862,0.015407,...,0.022642,-0.068701,-0.056102,-0.057836,-0.101792,-0.042479,-0.068701,-0.077362,-0.062402,-0.102185
X12,-0.089048,-0.067877,-0.021654,0.049724,-0.054123,-0.058359,-0.035259,0.002249,-0.028186,0.035913,...,0.007453,-0.107201,-0.089578,-0.096815,-0.148073,-0.073749,-0.113476,-0.104534,-0.108037,-0.137505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X95,-0.082004,-0.055867,-0.035145,-0.088551,-0.134843,0.049409,-0.119659,-0.095245,-0.055621,-0.171097,...,0.240992,0.174803,0.262992,0.215397,0.207915,0.164206,0.237795,0.181102,0.225197,0.154361
X96,0.004627,0.018557,0.032979,-0.033816,-0.034055,0.112402,-0.051536,0.010681,0.031404,-0.096673,...,0.208703,0.162205,0.237795,0.185470,0.201614,0.109077,0.218898,0.155906,0.231496,0.140973
X97,-0.010730,-0.033422,0.025103,-0.060199,-0.080512,0.097441,-0.084613,-0.035785,-0.007580,-0.142351,...,0.214609,0.118110,0.218898,0.183894,0.189407,0.151998,0.187402,0.137008,0.193701,0.109470
X98,0.015259,0.048484,0.060543,-0.003889,-0.017520,0.135236,-0.015308,0.026432,0.035735,-0.079740,...,0.222485,0.155906,0.231496,0.173656,0.195314,0.114589,0.212598,0.149606,0.200000,0.128372
X99,0.017622,0.019344,0.019984,-0.007039,-0.027756,0.118701,-0.031453,0.003987,0.019590,-0.095885,...,0.208703,0.155906,0.218898,0.165781,0.164599,0.132703,0.206299,0.143307,0.200000,0.153967

In [20]:
rho_X

Feature_2,X1,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X90,X91,X92,X93,X94,X95,X96,X97,X98,X99
Feature_1,,,,,,,,,,,,,,,,,,,,,
X0,0.909559,0.909252,0.940846,0.905297,0.926685,0.925787,0.925787,0.906890,0.915650,0.940846,...,-0.008858,-0.021457,0.020276,-0.034055,0.032874,-0.002559,-0.008858,-0.046654,-0.021457,0.010039
X1,NaN,0.916645,0.926868,0.921808,0.930450,0.899101,0.936307,0.932568,0.938451,0.919181,...,0.063405,0.062150,0.075485,0.022695,0.104795,0.078047,0.051613,0.045286,0.047221,0.091016
X10,NaN,NaN,0.906890,0.917037,0.932725,0.928248,0.928248,0.911713,0.909350,0.918012,...,0.098228,0.060433,0.085630,0.043898,0.134449,0.075394,0.085630,0.043898,0.081693,0.117126
X11,NaN,NaN,NaN,0.909533,0.963473,0.934547,0.947146,0.921949,0.932087,0.919488,...,0.051772,0.013976,0.041535,-0.002559,0.079331,0.041535,0.032874,-0.006496,0.058071,0.047835
X12,NaN,NaN,NaN,NaN,0.933478,0.919495,0.929195,0.939575,0.903912,0.929875,...,0.043142,0.049025,0.031376,0.043848,0.095461,0.065575,0.028526,0.013413,0.052371,0.042750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.930709,0.905512,0.918110,0.918110,0.930709
X95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.911811,0.930709,0.911811,0.943307
X96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.911811,0.930709,0.918110
X97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.905512,0.918110
X98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.905512

In [21]:
X_Y.pval

100      0.654930
101      0.846105
102      0.835488
103      0.719011
104      0.931868
           ...
15045    0.358257
15046    0.150612
15047    0.320788
15048    0.163753
15049    0.285720
Name: pval, Length: 10000, dtype: float64

In [23]:
utils.fdr(X_Y["pval"].values)

array([1., 1., 1., ..., 1., 1., 1.])

In [28]:
X_Y_p_adust, X_Y_p_threshold = utils.bh(X_Y["pval"].values, .1)
within_X_p_adust, within_X_p_threshold = utils.bh(within_X["pval"].values, .1)
within_Y_p_adust, within_Y_p_threshold = utils.bh(within_Y["pval"].values, .1)

In [29]:
X_Y_p_threshold

0.6549299181254638

In [30]:
X_Y["pval"].values

array([0.65492992, 0.8461055 , 0.83548775, ..., 0.32078763, 0.16375308,
       0.28571983])

In [31]:
within_X_p_threshold

9.957213702277227e-16

In [32]:
within_Y_p_threshold

0.03441006979659323

In [33]:
X_Y_p_adust

array([1.31644205, 1.09443215, 1.10382845, ..., 2.1244214 , 3.28162487,
       2.27302965])

In [34]:
within_X_p_adust

array([4.82399577e-19, 2.20724942e-19, 6.59609428e-22, ...,
       5.33600704e-19, 2.48664757e-20, 5.33261910e-19])

In [35]:
within_Y_p_adust

array([1.54757459e-18, 1.34426515e-21, 1.33733717e-24, ...,
       3.09836146e-22, 9.65139400e-22, 1.19229812e-22])

In [36]:
X_Y["P_adusted"] = X_Y_p_adust
within_X["P_adusted"] = within_X_p_adust
within_Y["P_adusted"] = within_Y_p_adust

/var/folders/ry/39y8fffn25q2jpw0b96hq5fh0000gn/T/ipykernel_50114/3638538245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_Y["P_adusted"] = X_Y_p_adust

In [37]:
X_Y
within_X
within_Y

      Feature_1 Feature_2          pval  Correlation  Not_NAs     P_adusted
15051        Y0        Y1  2.876300e-19     0.903308       50  1.547575e-18
15052        Y0        Y2  8.391473e-23     0.932060       50  1.344265e-21
15053        Y0        Y3  1.296812e-26     0.953337       50  1.337337e-24
15054        Y0        Y4  9.458936e-22     0.924577       50  1.054544e-20
15055        Y0        Y5  1.211416e-18     0.897027       50  5.788136e-18
...         ...       ...           ...          ...      ...           ...
20092       Y96       Y98  1.445902e-23     0.937008       50  3.111833e-22
20093       Y96       Y99  5.526886e-24     0.939555       50  1.455217e-22
20095       Y97       Y98  1.445902e-23     0.937008       50  3.098361e-22
20096       Y97       Y99  5.556863e-23     0.933255       50  9.651394e-22
20098       Y98       Y99  4.070674e-24     0.940343       50  1.192298e-22

[4950 rows x 6 columns]

In [38]:
X_Y["bh_fdr_threshold"] = X_Y_p_threshold
within_X["bh_fdr_threshold"] = within_X_p_threshold
within_Y["bh_fdr_threshold"] = within_Y_p_threshold

/var/folders/ry/39y8fffn25q2jpw0b96hq5fh0000gn/T/ipykernel_50114/2076899948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_Y["bh_fdr_threshold"] = X_Y_p_threshold

In [39]:
X_Y = X_Y.sort_values(['pval', 'Correlation'],
                     ascending = [True, False])
within_X = within_X.sort_values(['pval', 'Correlation'],
                      ascending = [True, False])
within_Y = within_Y.sort_values(['pval', 'Correlation'],
                                ascending = [True, False])

In [40]:
X_Y

,Feature_1,Feature_2,pval,Correlation,Not_NAs,P_adusted,bh_fdr_threshold
365,X1,Y66,0.021416,0.327972,49,214.155016,0.65493
374,X1,Y75,0.033062,0.305052,49,165.311602,0.65493
5196,X27,Y74,0.036443,0.296654,50,121.477314,0.65493
373,X1,Y74,0.040235,0.294122,49,100.588520,0.65493
3021,X15,Y41,0.042550,0.287992,50,85.100808,0.65493
...,...,...,...,...,...,...,...
12544,X77,Y47,0.999459,-0.000098,50,0.999859,0.65493
4340,X22,Y93,0.999729,0.000049,50,1.000029,0.65493
9277,X53,Y8,0.999729,0.000049,50,0.999929,0.65493
13706,X87,Y34,0.999729,0.000049,50,0.999829,0.65493
14116,X91,Y2,0.999729,0.000049,50,0.999729,0.65493

In [41]:
outputpath = "/Users/rah/Documents/omicsEye/btest/demo/btest_output"
os.makedirs(outputpath, exist_ok=True)
X_Y.to_csv(outputpath + '/X_Y.tsv', sep="\t")
#rho_X = rho.iloc[0:500, 0:500]
#rho_X.to_csv(outputpath + '/simtable_X.tsv', sep="\t")
rho_X_Y.to_csv(outputpath + '/simtable.tsv', sep="\t")
within_X.to_csv(outputpath + '/within_X.tsv', sep="\t")
within_Y.to_csv(outputpath + '/within_Y.tsv', sep="\t")

In [42]:
associations = blockplot.load_associations(path = outputpath + '/X_Y.tsv')

In [43]:
outputpath

'/Users/rah/Documents/omicsEye/btest/demo/btest_output'

In [44]:
associations

[['365',
  ['X1'],
  ['Y66'],
  '0.02141550157442774',
  '0.3279721814547849',
  '214.15501574427742'],
 ['374',
  ['X1'],
  ['Y75'],
  '0.033062320494592866',
  '0.30505150865449987',
  '165.31160247296432'],
 ['5196',
  ['X27'],
  ['Y74'],
  '0.036443194179371946',
  '0.29665354330708665',
  '121.47731393123983'],
 ['373',
  ['X1'],
  ['Y74'],
  '0.04023540815912691',
  '0.294122261151493',
  '100.58852039781728'],
 ['3021',
  ['X15'],
  ['Y41'],
  '0.042550403987361936',
  '0.28799212598425195',
  '85.10080797472388'],
 ['3042',
  ['X15'],
  ['Y62'],
  '0.042550403987361936',
  '0.28799212598425195',
  '70.91733997893657'],
 ['3046',
  ['X15'],
  ['Y66'],
  '0.04377287255220005',
  '0.28638245624131736',
  '62.53267507457149'],
 ['5197',
  ['X27'],
  ['Y75'],
  '0.045591011480972846',
  '0.2840551181102362',
  '56.988764351216055'],
 ['361',
  ['X1'],
  ['Y62'],
  '0.0503542686720587',
  '0.2811535846885949',
  '45.77660788368973'],
 ['5188',
  ['X27'],
  ['Y66'],
  '0.048837969047051434',
  '0.2800807621724007',
  '54.26441005227937'],
 ['4135',
  ['X21'],
  ['Y66'],
  '0.04983872907905812',
  '0.2788991945344788',
  '49.83872907905812'],
 ['340',
  ['X1'],
  ['Y41'],
  '0.05248676172878938',
  '0.27869581132667476',
  '37.49054409199242'],
 ['3054',
  ['X15'],
  ['Y74'],
  '0.0508228544586897',
  '0.277755905511811',
  '42.35237871557475'],
 ['5163',
  ['X27'],
  ['Y41'],
  '0.0508228544586897',
  '0.277755905511811',
  '39.0945034297613'],
 ['4837',
  ['X25'],
  ['Y62'],
  '0.05533869783262412',
  '0.2755320817863306',
  '36.89246522174941'],
 ['6700',
  ['X36'],
  ['Y66'],
  '0.05633742208480043',
  '0.2716620927522072',
  '35.210888803000266'],
 ['3055',
  ['X15'],
  ['Y75'],
  '0.05653137997008717',
  '0.2714566929133858',
  '33.25375292358069'],
 ['3238',
  ['X16'],
  ['Y74'],
  '0.05653137997008717',
  '0.2714566929133858',
  '31.406322205603985'],
 ['13071',
  ['X81'],
  ['Y92'],
  '0.05860902732599511',
  '0.2692913385826771',
  '30.846856487365848'],
 ['13651',
  ['X86'],
  ['Y92'],
  '0.05860902732599511',
  '0.2692913385826771',
  '29.304513662997557'],
 ['14206',
  ['X91'],
  ['Y92'],
  '0.05860902732599511',
  '0.2692913385826771',
  '27.909060631426243'],
 ['6708',
  ['X36'],
  ['Y74'],
  '0.05870490528504488',
  '0.26919291338582674',
  '26.684047856838582'],
 ['1534',
  ['X7'],
  ['Y62'],
  '0.05880090931111398',
  '0.26909448818897636',
  '25.5656127439626'],
 ['4309',
  ['X22'],
  ['Y62'],
  '0.05880090931111398',
  '0.26909448818897636',
  '24.500378879630826'],
 ['1538',
  ['X7'],
  ['Y66'],
  '0.06000464138095432',
  '0.26787122991387446',
  '24.001856552381728'],
 ['3776',
  ['X19'],
  ['Y66'],
  '0.06000464138095432',
  '0.26787122991387446',
  '23.078708223443968'],
 ['5015',
  ['X26'],
  ['Y66'],
  '0.06000464138095432',
  '0.26787122991387446',
  '22.223941252205304'],
 ['5360',
  ['X28'],
  ['Y66'],
  '0.06000464138095432',
  '0.26787122991387446',
  '21.43022906462654'],
 ['4110',
  ['X21'],
  ['Y41'],
  '0.06035421058070553',
  '0.26751968503937007',
  '20.811796751967425'],
 ['13985',
  ['X89'],
  ['Y90'],
  '0.06208748783534324',
  '0.26580035955239295',
  '20.69582927844775'],
 ['3057',
  ['X15'],
  ['Y77'],
  '0.062745736947937',
  '0.2651574803149606',
  '20.240560305786133'],
 ['3772',
  ['X19'],
  ['Y62'],
  '0.062745736947937',
  '0.2651574803149606',
  '19.608042796230315'],
 ['5023',
  ['X26'],
  ['Y74'],
  '0.062745736947937',
  '0.2651574803149606',
  '19.013859681193033'],
 ['5184',
  ['X27'],
  ['Y62'],
  '0.062745736947937',
  '0.2651574803149606',
  '18.45462851409912'],
 ['367',
  ['X1'],
  ['Y68'],
  '0.06586001021671602',
  '0.26489044605971873',
  '14.63555782593689'],
 ['2296',
  ['X11'],
  ['Y62'],
  '0.06438181108176685',
  '0.2635826771653543',
  '18.394803166219102'],
 ['13422',
  ['X84'],
  ['Y92'],
  '0.06500405859153362',
  '0.2629921259842519',
  '18.05668294209267'],
 ['13537',
  ['X85'],
  ['Y92'],
  '0.06500405859153362',
  '0.2629921259842519',
  '17.568664484198273'],
 ['13987',
  ['X89'],
  ['Y92'],
  '0.06500405859153362',
  '0.2629921259842519',
  '17.106331208298318'],
 ['14212',
  ['X91'],
  ['Y98'],
  '0.06500405859153362',
  '0.2629921259842519',
  '16.667707331162465'],
 ['14527',
  ['X94'],
  ['Y92'],
  '0.06500405859153362',
  '0.2629921259842519',
  '16.2510146478834'],
 ['14533',
  ['X94'],
  ['Y98'],
  '0.06500405859153362',
  '0.2629921259842519',
  '15.854648436959417'],
 ['14632',
  ['X95'],
  ['Y92'],
  '0.06500405859153362',
  '0.2629921259842519',
  '15.477156807508003'],
 ['3205',
  ['X16'],
  ['Y41'],
  '0.06521253859802476',
  '0.26279527559055116',
  '15.16570665070343'],
 ['12796',
  ['X79'],
  ['Y56'],
  '0.06557604651719223',
  '0.26245324391358504',
  '14.903646935725506'],
 ['5182',
  ['X27'],
  ['Y60'],
  '0.06657825547320405',
  '0.2615180204262711',
  '14.473533798522618'],
 ['357',
  ['X1'],
  ['Y58'],
  '0.06950899135870736',
  '0.2615175443183601',
  '12.412319885483457'],
 ['5180',
  ['X27'],
  ['Y58'],
  '0.06689966403305957',
  '0.2612204724409449',
  '14.233971070863738'],
 ['5199',
  ['X27'],
  ['Y77'],
  '0.06689966403305957',
  '0.2612204724409449',
  '13.93743000688741'],
 ['10213',
  ['X59'],
  ['Y83'],
  '0.0673268356401875',
  '-0.2608267716535433',
  '13.740170538813777'],
 ['13535',
  ['X85'],
  ['Y90'],
  '0.06834793120353967',
  '0.2598936848956731',
  '13.669586240707934'],
 ['13420',
  ['X84'],
  ['Y90'],
  '0.06878253250644986',
  '0.25949990658522515',
  '13.486771079696052'],
 ['14204',
  ['X91'],
  ['Y90'],
  '0.06921932969228575',
  '0.25910612827477714',
  '13.311409556208798'],
 ['4641',
  ['X24'],
  ['Y41'],
  '0.06949539748413289',
  '0.2588582677165354',
  '13.112339147949601'],
 ['4662',
  ['X24'],
  ['Y62'],
  '0.06949539748413289',
  '0.2588582677165354',
  '12.869518052617202'],
 ['5193',
  ['X27'],
  ['Y71'],
  '0.06949539748413289',
  '0.2588582677165354',
  '12.635526815296888'],
 ['12793',
  ['X79'],
  ['Y53'],
  '0.07065417353598132',
  '0.25782634876582117',
  '12.395469041400231'],
 ['12807',
  ['X79'],
  ['Y67'],
  '0.07110038415471931',
  '0.25743257045537316',
  '12.258686923227469'],
 ['3591',
  ['X18'],
  ['Y62'],
  '0.07126992647827432',
  '0.25728346456692913',
  '12.079648555639714'],
 ['13077',
  ['X81'],
  ['Y98'],
  '0.07194457274671139',
  '0.2566929133858268',
  '11.990762124451898'],
 ['13306',
  ['X83'],
  ['Y92'],
  '0.07194457274671139',
  '0.2566929133858268',
  '11.794192253559244'],
 ['14097',
  ['X90'],
  ['Y92'],
  '0.07194457274671139',
  '0.2566929133858268',
  '11.603963346243772'],
 ['6696',
  ['X36'],
  ['Y62'],
  '0.07205750459830805',
  '0.25659448818897634',
  '11.43769914258858'],
 ['3230',
  ['X16'],
  ['Y66'],
  '0.07313476978037256',
  '0.25566169765534835',
  '11.427307778183213'],
 ['5164',
  ['X27'],
  ['Y42'],
  '0.07336509184931006',
  '0.2554636789031332',
  '11.286937207586163'],
 ['4144',
  ['X21'],
  ['Y75'],
  '0.07399893997478706',
  '0.2549212598425197',
  '11.211960602240463'],
 ['2671',
  ['X13'],
  ['Y62'],
  '0.07820348682450125',
  '0.25401349160696546',
  '10.026088054423237'],
 ['14525',
  ['X94'],
  ['Y90'],
  '0.07510081903237778',
  '0.25398701023895326',
  '11.209077467519073'],
 ['563',
  ['X2'],
  ['Y66'],
  '0.07545094591607177',
  '0.25369241825881184',
  '11.09572734059879'],
 ['12709',
  ['X78'],
  ['Y90'],
  '0.07556912019474944',
  '0.2535932319285053',
  '10.952046405036151'],
 ['14095',
  ['X90'],
  ['Y90'],
  '0.07603972601519168',
  '0.2531994536180573',
  '10.86281800217024'],
 ['14312',
  ['X92'],
  ['Y90'],
  '0.07603972601519168',
  '0.2531994536180573',
  '10.709820565519955'],
 ['5189',
  ['X27'],
  ['Y67'],
  '0.0767499718222892',
  '0.2526087861523853',
  '10.659718308651277'],
 ['571',
  ['X2'],
  ['Y74'],
  '0.07681000890461309',
  '0.2525590551181102',
  '10.521919028029192'],
 ['3048',
  ['X15'],
  ['Y68'],
  '0.07681000890461309',
  '0.2525590551181102',
  '10.379730933055823'],
 ['3421',
  ['X17'],
  ['Y74'],
  '0.07681000890461309',
  '0.2525590551181102',
  '10.24133452061508'],
 ['4143',
  ['X21'],
  ['Y74'],
  '0.07681000890461309',
  '0.2525590551181102',
  '10.106580119028038'],
 ['3020',
  ['X15'],
  ['Y40'],
  '0.07740562096366194',
  '0.25206734097551936',
  '10.052678047228822'],
 ['359',
  ['X1'],
  ['Y60'],
  '0.0825125962580557',
  '0.25053612138879194',
  '9.707364265653611'],
 ['14210',
  ['X91'],
  ['Y96'],
  '0.07946024104606851',
  '0.2503937007874016',
  '10.058258360261837'],
 ['4990',
  ['X26'],
  ['Y41'],
  '0.07970469694232273',
  '0.25019685039370076',
  '9.96308711779034'],
 ['5011',
  ['X26'],
  ['Y62'],
  '0.07970469694232273',
  '0.25019685039370076',
  '9.840086042262064'],
 ['4313',
  ['X22'],
  ['Y66'],
  '0.0807505368644499',
  '0.2493600035864316',
  '9.847626446884133'],
 ['3388',
  ['X17'],
  ['Y41'],
  '0.08168171487544854',
  '0.24862204724409445',
  '9.841170466921511'],
 ['6205',
  ['X33'],
  ['Y66'],
  '0.08224552486287864',
  '0.2481784359485097',
  '9.791133912247457'],
 ['12789',
  ['X79'],
  ['Y49'],
  '0.08268456472147612',
  '0.24783464566929134',
  '9.614484269939084'],
 ['3413',
  ['X17'],
  ['Y66'],
  '0.0832541962945141',
  '0.2473907241898951',
  '9.569447849944149'],
 ['3047',
  ['X15'],
  ['Y67'],
  '0.08331690363646338',
  '0.24734200125014344',
  '9.467829958689022'],
 ['372',
  ['X1'],
  ['Y73'],
  '0.08669685289967007',
  '0.24729327388856123',
  '9.030922177048966'],
 ['1726',
  ['X8'],
  ['Y62'],
  '0.08356996203511732',
  '0.24714566929133855',
  '9.389883374732284'],
 ['13979',
  ['X89'],
  ['Y84'],
  '0.08388875478706083',
  '0.24689900065088946',
  '9.32097275411787'],
 ['3751',
  ['X19'],
  ['Y41'],
  '0.08471923406884507',
  '0.246259842519685',
  '9.309805941631327'],
 ['4321',
  ['X22'],
  ['Y74'],
  '0.08471923406884507',
  '0.246259842519685',
  '9.208612398787508'],
 ['13069',
  ['X81'],
  ['Y90'],
  '0.08542873840755222',
  '0.24571766571954548',
  '9.185885850274431'],
 ['13073',
  ['X81'],
  ['Y94'],
  '0.08646762679827115',
  '0.2449301090986495',
  '9.19868370194374'],
 ['12809',
  ['X79'],
  ['Y69'],
  '0.0865981794620969',
  '0.24483166452103752',
  '9.115597838115464'],
 ['344',
  ['X1'],
  ['Y45'],
  '0.09015353349264983',
  '0.24470532866182088',
  '7.640129957004223'],
 ['3409',
  ['X17'],
  ['Y62'],
  '0.08679291263700464',
  '0.24468503937007874',
  '8.94772295226852'],
 ['4131',
  ['X21'],
  ['Y62'],
  '0.08679291263700464',
  '0.24468503937007874',
  '8.85641965683721'],
 ['4666',
  ['X24'],
  ['Y66'],
  '0.08686113347769195',
  '0.24463373303474406',
  '8.77385186643353']]

In [45]:
simtable = blockplot.load_order_table(outputpath + '/simtable.tsv', associations)

In [46]:
X_Y

,Feature_1,Feature_2,pval,Correlation,Not_NAs,P_adusted,bh_fdr_threshold
365,X1,Y66,0.021416,0.327972,49,214.155016,0.65493
374,X1,Y75,0.033062,0.305052,49,165.311602,0.65493
5196,X27,Y74,0.036443,0.296654,50,121.477314,0.65493
373,X1,Y74,0.040235,0.294122,49,100.588520,0.65493
3021,X15,Y41,0.042550,0.287992,50,85.100808,0.65493
...,...,...,...,...,...,...,...
12544,X77,Y47,0.999459,-0.000098,50,0.999859,0.65493
4340,X22,Y93,0.999729,0.000049,50,1.000029,0.65493
9277,X53,Y8,0.999729,0.000049,50,0.999929,0.65493
13706,X87,Y34,0.999729,0.000049,50,0.999829,0.65493
14116,X91,Y2,0.999729,0.000049,50,0.999729,0.65493

In [47]:
blockplot.plot(
    simtable,
    associations,
    cmap="RdBu_r",
    mask=False,
    axlabels=["",""],
    outfile="/Users/rah/Documents/omicsEye/btest/demo/btest_output/blockplot.pdf",
    similarity="Spearman"
)