# *btest* initial steps

step-by-step

In [4]:
import argparse
import csv
import itertools
import logging
import os
import sys
import shutil
import time
import math
import random
from scipy.stats import pearsonr
import numpy as np
import pandas as pd

In [5]:
dataX = pd.read_table('/Users/rah/Documents/omicsEye/btest/demo/X_dataset.txt', index_col=0, header=0)

In [6]:
dataY = pd.read_table('/Users/rah/Documents/omicsEye/btest/demo/Y_dataset.txt', index_col=0, header=0)

In [7]:
dataY

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S40,S41,S42,S43,S44,S45,S46,S47,S48,S49
0,4,5,2,3,1,3,4,5,6,4,...,3,5,6,4,1,4,4,6,1,2
1,4,5,3,2,1,4,3,5,6,4,...,2,5,6,2,1,4,3,6,2,2
2,4,5,3,2,1,4,3,5,6,4,...,3,5,6,3,1,4,3,6,1,1
3,4,5,2,3,1,4,3,5,6,4,...,3,5,6,3,1,4,3,6,1,2
4,4,5,2,2,1,4,3,5,6,4,...,3,5,6,3,1,4,3,6,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,4,5,6,1,6,1,3,2,4,5,...,1,3,1,3,1,2,3,3,4,6
496,4,5,6,3,6,3,1,1,2,5,...,2,1,4,2,3,4,1,1,4,6
497,1,3,6,4,5,4,1,2,3,6,...,2,3,4,3,1,4,1,3,5,5
498,3,4,6,2,6,2,4,1,5,5,...,2,4,1,3,3,2,4,1,4,6
499,4,5,6,4,6,4,1,3,3,4,...,2,2,3,3,3,2,1,1,4,6

In [8]:
ind = dataY.index.intersection(dataX.index)

In [9]:
dataX = dataY.loc[ind, :]
dataY = dataY.loc[ind, :]

In [10]:
results = dataX.corrwith(dataY, axis=1, drop=False, method='pearson')

In [11]:
results

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
495    1.0
496    1.0
497    1.0
498    1.0
499    1.0
Length: 500, dtype: float64

In [12]:
df = pd.concat([dataX, dataY])
df = df.T
rho = df.corr()
pval = df.corr(method=lambda x, y: pearsonr(x, y)[1]) - np.eye(*rho.shape)

In [13]:
rho

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,1.000000,0.908986,0.934062,0.954532,0.927615,0.899869,0.886093,0.908986,0.916074,0.895895,...,-0.062405,-0.031874,-0.219311,-0.217679,-0.223753,-0.193384,-0.193384,-0.084059,-0.272342,-0.047617
1,0.908986,1.000000,0.957845,0.948121,0.945399,0.923679,0.897520,0.883991,0.933715,0.913335,...,0.053939,0.109229,-0.100074,-0.060128,-0.139566,-0.084571,-0.072350,0.013199,-0.212893,0.019310
2,0.934062,0.957845,1.000000,0.954863,0.946054,0.900527,0.898677,0.897520,0.958279,0.949751,...,0.004734,0.071501,-0.188219,-0.113743,-0.192228,-0.137892,-0.119781,-0.017146,-0.246564,0.000966
3,0.954532,0.948121,0.954863,1.000000,0.966679,0.908268,0.882415,0.911458,0.918639,0.916460,...,-0.017461,0.000984,-0.200308,-0.149706,-0.204746,-0.192515,-0.168053,-0.045744,-0.265900,-0.027397
4,0.927615,0.945399,0.946054,0.966679,1.000000,0.930238,0.904081,0.896849,0.928066,0.925679,...,-0.007450,0.035294,-0.171374,-0.138722,-0.199458,-0.144795,-0.181237,-0.065838,-0.284489,-0.035470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,-0.193384,-0.084571,-0.137892,-0.192515,-0.144795,-0.094667,-0.059407,-0.145677,-0.143930,-0.079171,...,0.775664,0.757220,0.771065,0.724804,0.657534,1.000000,0.712573,0.584149,0.840998,0.694227
496,-0.193384,-0.072350,-0.119781,-0.168053,-0.181237,-0.149706,-0.143930,-0.176230,-0.125818,-0.043184,...,0.837147,0.775664,0.752965,0.761497,0.608611,0.712573,1.000000,0.700342,0.706458,0.785959
497,-0.084059,0.013199,-0.017146,-0.045744,-0.065838,-0.051859,-0.029221,-0.060128,-0.017146,0.034787,...,0.628106,0.597365,0.602130,0.565802,0.620841,0.584149,0.700342,1.000000,0.626957,0.724804
498,-0.272342,-0.212893,-0.246564,-0.265900,-0.284489,-0.290362,-0.198266,-0.249557,-0.270714,-0.241111,...,0.701885,0.646551,0.758998,0.626957,0.700342,0.840998,0.706458,0.626957,1.000000,0.718689
499,-0.047617,0.019310,0.000966,-0.027397,-0.035470,-0.021282,0.031153,0.025420,-0.059407,0.058778,...,0.757220,0.677292,0.692631,0.706458,0.620841,0.694227,0.785959,0.724804,0.718689,1.000000

In [14]:
rho_long_format = rho.stack().reset_index().rename(columns={'level_0':'Feature_1','level_1':'Feature_2', 0:'Correlation'})

In [15]:
rho_long_format

        Feature_1  Feature_2  Correlation
0               0          0     1.000000
1               0          1     0.908986
2               0          2     0.934062
3               0          3     0.954532
4               0          4     0.927615
...           ...        ...          ...
999995        499        495     0.694227
999996        499        496     0.785959
999997        499        497     0.724804
999998        499        498     0.718689
999999        499        499     1.000000

[1000000 rows x 3 columns]

In [16]:
pval_long_format = pval.stack().reset_index().rename(columns={'level_0':'Feature_1','level_1':'Feature_2', 0:'P_value'})
pval_long_format

        Feature_1  Feature_2       P_value
0               0          0  0.000000e+00
1               0          1  7.186620e-20
2               0          2  4.188168e-23
3               0          3  7.053113e-27
4               0          4  3.650543e-22
...           ...        ...           ...
999995        499        495  2.257120e-08
999996        499        496  1.365464e-11
999997        499        497  2.657403e-09
999998        499        498  4.168144e-09
999999        499        499  0.000000e+00

[1000000 rows x 3 columns]

In [17]:
result = pd.concat([pval_long_format, rho_long_format["Correlation"]], axis=1)

In [18]:
result

        Feature_1  Feature_2       P_value  Correlation
0               0          0  0.000000e+00     1.000000
1               0          1  7.186620e-20     0.908986
2               0          2  4.188168e-23     0.934062
3               0          3  7.053113e-27     0.954532
4               0          4  3.650543e-22     0.927615
...           ...        ...           ...          ...
999995        499        495  2.257120e-08     0.694227
999996        499        496  1.365464e-11     0.785959
999997        499        497  2.657403e-09     0.724804
999998        499        498  4.168144e-09     0.718689
999999        499        499  0.000000e+00     1.000000

[1000000 rows x 4 columns]

In [19]:
within_X = result[result["Feature_1"].isin(dataX.index) ]
within_X = within_X[within_X["Feature_2"].isin(dataX.index) ]

In [20]:
within_X

        Feature_1  Feature_2       P_value  Correlation
0               0          0  0.000000e+00     1.000000
1               0          1  7.186620e-20     0.908986
2               0          2  4.188168e-23     0.934062
3               0          3  7.053113e-27     0.954532
4               0          4  3.650543e-22     0.927615
...           ...        ...           ...          ...
999995        499        495  2.257120e-08     0.694227
999996        499        496  1.365464e-11     0.785959
999997        499        497  2.657403e-09     0.724804
999998        499        498  4.168144e-09     0.718689
999999        499        499  0.000000e+00     1.000000

[1000000 rows x 4 columns]

In [21]:
within_Y = result[result["Feature_1"].isin(dataY.index)]
within_Y = within_Y[within_Y["Feature_2"].isin(dataY.index)]

In [22]:
X_Y = result[result["Feature_1"].isin(dataX.index) ]
X_Y = X_Y[X_Y["Feature_2"].isin(dataY.index) ]

In [23]:
def fdr(p_vals):
    from scipy.stats import rankdata
    ranked_p_values = rankdata(p_vals, method='ordinal')
    fdr = p_vals * len(p_vals) / ranked_p_values
    fdr[fdr > 1] = 1
    return fdr

In [24]:
def bh(p, q):
    from scipy.stats import rankdata
    pRank = rankdata(p, method='ordinal')
    m = len(p)
    p_adust = p *  len(p) / pRank
    max_i = 0
    for i in range(len(p)):
        if p_adust[i] <= q and max_i <= pRank[i]:
            max_i = pRank[i]
            p_threshold = p[i]
    return p_adust, p_threshold

In [25]:
fdr(X_Y["P_value"])

0         0.000000e+00
1         3.348064e-18
2         4.842373e-21
3         2.434627e-24
4         3.186300e-20
              ...
999995    3.102144e-07
999996    2.332372e-10
999997    3.827787e-08
999998    5.933470e-08
999999    0.000000e+00
Name: P_value, Length: 1000000, dtype: float64

In [26]:
X_Y_p_adust, X_Y_p_threshold = bh(X_Y["P_value"], .1)
within_X_p_adust, within_X_p_threshold = bh(within_X["P_value"], .1)
within_Y_p_adust, within_Y_p_threshold = bh(within_Y["P_value"], .1)

In [27]:
X_Y_p_threshold

0.008015711735235301

In [28]:
within_X_p_threshold

0.008015711735235301

In [29]:
within_Y_p_threshold

0.008015711735235301

In [30]:
X_Y_p_adust
within_X_p_adust
within_Y_p_adust

0         0.000000e+00
1         3.348064e-18
2         4.842373e-21
3         2.434627e-24
4         3.186300e-20
              ...
999995    3.102144e-07
999996    2.332372e-10
999997    3.827787e-08
999998    5.933470e-08
999999    0.000000e+00
Name: P_value, Length: 1000000, dtype: float64

In [31]:
X_Y["P_adusted"] = X_Y_p_adust
within_X["P_adusted"] = within_X_p_adust
within_Y["P_adusted"] = within_Y_p_adust

In [32]:
X_Y
within_X
within_Y

        Feature_1  Feature_2       P_value  Correlation     P_adusted
0               0          0  0.000000e+00     1.000000  0.000000e+00
1               0          1  7.186620e-20     0.908986  3.348064e-18
2               0          2  4.188168e-23     0.934062  4.842373e-21
3               0          3  7.053113e-27     0.954532  2.434627e-24
4               0          4  3.650543e-22     0.927615  3.186300e-20
...           ...        ...           ...          ...           ...
999995        499        495  2.257120e-08     0.694227  3.102144e-07
999996        499        496  1.365464e-11     0.785959  2.332372e-10
999997        499        497  2.657403e-09     0.724804  3.827787e-08
999998        499        498  4.168144e-09     0.718689  5.933470e-08
999999        499        499  0.000000e+00     1.000000  0.000000e+00

[1000000 rows x 5 columns]

In [33]:
X_Y["bh_fdr_threshold"] = X_Y_p_threshold
within_X["bh_fdr_threshold"] = within_X_p_threshold
within_Y["bh_fdr_threshold"] = within_Y_p_threshold

In [34]:
X_Y = X_Y.sort_values(['P_value', 'Correlation'],
                     ascending = [True, False])
within_X = within_X.sort_values(['P_value', 'Correlation'],
                      ascending = [True, False])
within_Y = within_Y.sort_values(['P_value', 'Correlation'],
                                ascending = [True, False])

In [35]:
X_Y

,Feature_1,Feature_2,P_value,Correlation,P_adusted,bh_fdr_threshold
0,0,0,0.0,1.000000e+00,0.000000,0.008016
500,0,0,0.0,1.000000e+00,0.000000,0.008016
1001,1,1,0.0,1.000000e+00,0.000000,0.008016
1501,1,1,0.0,1.000000e+00,0.000000,0.008016
2002,2,2,0.0,1.000000e+00,0.000000,0.008016
...,...,...,...,...,...,...
48736,48,236,1.0,-1.325329e-16,1.000355,0.008016
236048,236,48,1.0,-1.325329e-16,1.000275,0.008016
548736,48,236,1.0,-1.325329e-16,1.000167,0.008016
736048,236,48,1.0,-1.325329e-16,1.000087,0.008016
736548,236,48,1.0,-1.325329e-16,1.000084,0.008016

In [36]:
outputpath = "/Users/rah/Documents/omicsEye/btest/demo/btest_output"
os.makedirs(outputpath, exist_ok=True)
X_Y.to_csv(outputpath + '/X_Y.tsv', sep="\t")
rho_X = rho.iloc[0:500, 0:500]
rho_X.to_csv(outputpath + '/simtable_X.tsv', sep="\t")
rho.to_csv(outputpath + '/simtable.tsv', sep="\t")
within_X.to_csv(outputpath + '/within_X.tsv', sep="\t")
within_Y.to_csv(outputpath + '/within_Y.tsv', sep="\t")

In [37]:
# import matbtestlib.pyplot as plt
import matplotlib

# matplotlib.style.use('ggplot')
matplotlib.use("Agg")
import matplotlib.pyplot as plt
# import matplotlib as matplotlib
# matplotlib.use( "Agg" )
# plt.style.use('ggplot')
import matplotlib.patches as patches
import matplotlib.patheffects as path_effects
import numpy as np
from matplotlib import font_manager
import warnings

with warnings.catch_warnings():
    warnings.simplefilter("error")
    try:
        font_file = font_manager.findfont(font_manager.FontProperties(family='Arial'))
        matplotlib.rcParams["font.family"] = "Arial"
    except UserWarning:
        pass
# ---------------------------------------------------------------
# constants / config
# ---------------------------------------------------------------

c_unit_h = 0.3
c_unit_w = 0.3
c_min_height = 1 * c_unit_h + 3
c_min_width = 1 * c_unit_w + 5
c_label_scale = 8
c_label_shift = -0.005
c_line_width = 1.5
c_char_pad = 0.1
c_label_aspect = 0.7
c_small_text = 12
c_large_text = 16
c_giant_text = 20
c_outline_width = 3
c_grid_color = "0.9"
c_cbarspan = 1
c_simstep = 0.2
paper_dpi = 350

matplotlib.rcParams['xtick.major.pad'] = '.1'  # '10'
matplotlib.rcParams['ytick.major.pad'] = '.1'  # '10'
def reorder(array, order):
    return [array[i] for i in order]
def mask_table(simtable, associations):
    allowed = {}
    for number, row_items, col_items, sig, _, _ in associations:
        for r in row_items:
            for c in col_items:
                ri = simtable.rowmap[r]
                ci = simtable.colmap[c]
                allowed[(ri, ci)] = 1
    for ri in range(simtable.nrows):
        for ci in range(simtable.ncols):
            if (ri, ci) not in allowed:
                simtable.data[ri][ci] = np.nan
    simtable.data = np.ma.masked_where(np.isnan(simtable.data), simtable.data)

class Table:
    """ """

    def __init__(self, path):
        self.colheads = None
        self.rowheads = []
        self.data = []
        with open(path) as fh:
            for row in csv.reader(fh, dialect="excel-tab"):
                rowhead, values = row[0], row[1:]
                if self.colheads is None:
                    self.colheads = values
                else:
                    self.rowheads.append(rowhead)
                    self.data.append(list(map(float, values)))
        self.data = np.array(self.data)
        self.update()

    def update(self):
        self.nrows, self.ncols = self.data.shape
        self.rowmap = {}
        self.colmap = {}
        for i, h in zip(range(self.nrows), self.rowheads):
            self.rowmap[h] = i
        for i, h in zip(range(self.ncols), self.colheads):
            self.colmap[h] = i
        print(self.nrows, len(self.rowheads), len(self.rowmap))
        assert self.nrows == len(self.rowheads) == len(self.rowmap), "row dim failure"
        assert self.ncols == len(self.colheads) == len(self.colmap), "col dim failure"

In [38]:
def load_order_table(p_table, associations, p_tree = None):
    allowed_rowheads = {k for items in associations for k in items[1]}
    allowed_colheads = {k for items in associations for k in items[2]}
    simtable = Table(p_table)
    row_order, col_order = simtable.rowheads, simtable.colheads # get_order(p_tree)

    # reorder the rows
    row_order = [simtable.rowmap[k] for k in row_order if k in simtable.rowmap and k in allowed_rowheads]
    simtable.rowheads = reorder(simtable.rowheads, row_order)
    simtable.data = simtable.data[row_order, :]
    simtable.update()
    # reorder the cols
    col_order = [simtable.colmap[k] for k in col_order if k in simtable.colmap and k in allowed_colheads]
    simtable.colheads = reorder(simtable.colheads, col_order)
    simtable.data = simtable.data[:, col_order]
    simtable.update()
    return simtable

In [39]:
def load_associations(path, largest=None, strongest=100, orderby='similarity'):
    pairs = []
    dic_order = {'pvalue': 3, 'similarity': 4, 'qvalue': 5, }
    with open(path) as fh:
        for row in csv.reader(fh, dialect="excel-tab"):
            if row[0] !='':
                pairs.append([row[0], row[1].split(";"), row[2].split(";"), row[3], row[4], row[5]])
    if largest is not None and strongest is not None:
        sys.exit("Can only specify one of LARGEST and STRONGEST")
    elif largest is not None:
        pairs = sorted(pairs, key=lambda row: len(row[1]) * len(row[2]), reverse=True)
        pairs = pairs[0:min(len(pairs), largest)]
    elif strongest is not None:
        # not reversed, smaller p = stronger assoc
        pairs = sorted(pairs, key=lambda row: abs(float(row[dic_order[orderby]])), reverse=True)
        pairs = pairs[0:min(len(pairs), strongest)]
    return pairs

In [40]:
associations = load_associations(path = outputpath + '/within_X.tsv')

In [41]:
associations

[['0', ['0'], ['0'], '0.0', '1.0', '0.0'],
 ['500', ['0'], ['0'], '0.0', '1.0', '0.0'],
 ['1001', ['1'], ['1'], '0.0', '1.0', '0.0'],
 ['1501', ['1'], ['1'], '0.0', '1.0', '0.0'],
 ['2002', ['2'], ['2'], '0.0', '1.0', '0.0'],
 ['2502', ['2'], ['2'], '0.0', '1.0', '0.0'],
 ['3003', ['3'], ['3'], '0.0', '1.0', '0.0'],
 ['3503', ['3'], ['3'], '0.0', '1.0', '0.0'],
 ['4004', ['4'], ['4'], '0.0', '1.0', '0.0'],
 ['4504', ['4'], ['4'], '0.0', '1.0', '0.0'],
 ['5005', ['5'], ['5'], '0.0', '1.0', '0.0'],
 ['5505', ['5'], ['5'], '0.0', '1.0', '0.0'],
 ['6006', ['6'], ['6'], '0.0', '1.0', '0.0'],
 ['6506', ['6'], ['6'], '0.0', '1.0', '0.0'],
 ['7007', ['7'], ['7'], '0.0', '1.0', '0.0'],
 ['7507', ['7'], ['7'], '0.0', '1.0', '0.0'],
 ['8008', ['8'], ['8'], '0.0', '1.0', '0.0'],
 ['8508', ['8'], ['8'], '0.0', '1.0', '0.0'],
 ['9009', ['9'], ['9'], '0.0', '1.0', '0.0'],
 ['9509', ['9'], ['9'], '0.0', '1.0', '0.0'],
 ['10010', ['10'], ['10'], '0.0', '1.0', '0.0'],
 ['10510', ['10'], ['10'], '0.0', '1.0', '0.0'],
 ['11011', ['11'], ['11'], '0.0', '1.0', '0.0'],
 ['11511', ['11'], ['11'], '0.0', '1.0', '0.0'],
 ['12012', ['12'], ['12'], '0.0', '1.0', '0.0'],
 ['12512', ['12'], ['12'], '0.0', '1.0', '0.0'],
 ['13013', ['13'], ['13'], '0.0', '1.0', '0.0'],
 ['13513', ['13'], ['13'], '0.0', '1.0', '0.0'],
 ['14014', ['14'], ['14'], '0.0', '1.0', '0.0'],
 ['14514', ['14'], ['14'], '0.0', '1.0', '0.0'],
 ['15015', ['15'], ['15'], '0.0', '1.0', '0.0'],
 ['15515', ['15'], ['15'], '0.0', '1.0', '0.0'],
 ['16016', ['16'], ['16'], '0.0', '1.0', '0.0'],
 ['16516', ['16'], ['16'], '0.0', '1.0', '0.0'],
 ['17017', ['17'], ['17'], '0.0', '1.0', '0.0'],
 ['17517', ['17'], ['17'], '0.0', '1.0', '0.0'],
 ['18018', ['18'], ['18'], '0.0', '1.0', '0.0'],
 ['18518', ['18'], ['18'], '0.0', '1.0', '0.0'],
 ['19019', ['19'], ['19'], '0.0', '1.0', '0.0'],
 ['19519', ['19'], ['19'], '0.0', '1.0', '0.0'],
 ['20020', ['20'], ['20'], '0.0', '1.0', '0.0'],
 ['20520', ['20'], ['20'], '0.0', '1.0', '0.0'],
 ['21021', ['21'], ['21'], '0.0', '1.0', '0.0'],
 ['21521', ['21'], ['21'], '0.0', '1.0', '0.0'],
 ['22022', ['22'], ['22'], '0.0', '1.0', '0.0'],
 ['22522', ['22'], ['22'], '0.0', '1.0', '0.0'],
 ['23023', ['23'], ['23'], '0.0', '1.0', '0.0'],
 ['23523', ['23'], ['23'], '0.0', '1.0', '0.0'],
 ['24024', ['24'], ['24'], '0.0', '1.0', '0.0'],
 ['24524', ['24'], ['24'], '0.0', '1.0', '0.0'],
 ['25025', ['25'], ['25'], '0.0', '1.0', '0.0'],
 ['25525', ['25'], ['25'], '0.0', '1.0', '0.0'],
 ['26026', ['26'], ['26'], '0.0', '1.0', '0.0'],
 ['26526', ['26'], ['26'], '0.0', '1.0', '0.0'],
 ['27027', ['27'], ['27'], '0.0', '1.0', '0.0'],
 ['27527', ['27'], ['27'], '0.0', '1.0', '0.0'],
 ['28028', ['28'], ['28'], '0.0', '1.0', '0.0'],
 ['28528', ['28'], ['28'], '0.0', '1.0', '0.0'],
 ['29029', ['29'], ['29'], '0.0', '1.0', '0.0'],
 ['29529', ['29'], ['29'], '0.0', '1.0', '0.0'],
 ['30030', ['30'], ['30'], '0.0', '1.0', '0.0'],
 ['30530', ['30'], ['30'], '0.0', '1.0', '0.0'],
 ['31031', ['31'], ['31'], '0.0', '1.0', '0.0'],
 ['31531', ['31'], ['31'], '0.0', '1.0', '0.0'],
 ['32032', ['32'], ['32'], '0.0', '1.0', '0.0'],
 ['32532', ['32'], ['32'], '0.0', '1.0', '0.0'],
 ['33033', ['33'], ['33'], '0.0', '1.0', '0.0'],
 ['33533', ['33'], ['33'], '0.0', '1.0', '0.0'],
 ['34034', ['34'], ['34'], '0.0', '1.0', '0.0'],
 ['34534', ['34'], ['34'], '0.0', '1.0', '0.0'],
 ['35035', ['35'], ['35'], '0.0', '1.0', '0.0'],
 ['35535', ['35'], ['35'], '0.0', '1.0', '0.0'],
 ['36036', ['36'], ['36'], '0.0', '1.0', '0.0'],
 ['36536', ['36'], ['36'], '0.0', '1.0', '0.0'],
 ['37037', ['37'], ['37'], '0.0', '1.0', '0.0'],
 ['37537', ['37'], ['37'], '0.0', '1.0', '0.0'],
 ['38038', ['38'], ['38'], '0.0', '1.0', '0.0'],
 ['38538', ['38'], ['38'], '0.0', '1.0', '0.0'],
 ['39039', ['39'], ['39'], '0.0', '1.0', '0.0'],
 ['39539', ['39'], ['39'], '0.0', '1.0', '0.0'],
 ['40040', ['40'], ['40'], '0.0', '1.0', '0.0'],
 ['40540', ['40'], ['40'], '0.0', '1.0', '0.0'],
 ['41041', ['41'], ['41'], '0.0', '1.0', '0.0'],
 ['41541', ['41'], ['41'], '0.0', '1.0', '0.0'],
 ['42042', ['42'], ['42'], '0.0', '1.0', '0.0'],
 ['42542', ['42'], ['42'], '0.0', '1.0', '0.0'],
 ['43043', ['43'], ['43'], '0.0', '1.0', '0.0'],
 ['43543', ['43'], ['43'], '0.0', '1.0', '0.0'],
 ['44044', ['44'], ['44'], '0.0', '1.0', '0.0'],
 ['44544', ['44'], ['44'], '0.0', '1.0', '0.0'],
 ['45045', ['45'], ['45'], '0.0', '1.0', '0.0'],
 ['45545', ['45'], ['45'], '0.0', '1.0', '0.0'],
 ['46046', ['46'], ['46'], '0.0', '1.0', '0.0'],
 ['46546', ['46'], ['46'], '0.0', '1.0', '0.0'],
 ['47047', ['47'], ['47'], '0.0', '1.0', '0.0'],
 ['47547', ['47'], ['47'], '0.0', '1.0', '0.0'],
 ['48048', ['48'], ['48'], '0.0', '1.0', '0.0'],
 ['48548', ['48'], ['48'], '0.0', '1.0', '0.0'],
 ['49049', ['49'], ['49'], '0.0', '1.0', '0.0'],
 ['49549', ['49'], ['49'], '0.0', '1.0', '0.0']]

In [42]:
def plot(simtable, associations, cmap, mask, axlabels, outfile, similarity):
    # reverse roworder of simtable to match plotting
    order = range(simtable.nrows)[::-1]
    simtable.rowheads = reorder(simtable.rowheads, order)
    simtable.data = simtable.data[order, :]
    simtable.update()
    # scale of the data
    tmin = -1 # if we want to use the min in the study #np.min(simtable.data,)
    tmax = 1 # if we want to use the max in the study np.max(simtable.data)
    crit = 0
    while crit < max(abs(tmin), tmax):
        crit += c_simstep
    vmin = 0 if tmin >= 0 else -crit
    vmax = crit
    # masking
    if mask:
        mask_table(simtable, associations)
    # begin plotting
    fig = plt.figure()
    width = max(c_unit_w * simtable.ncols, c_min_width)
    width += c_char_pad * max(list(map(len, simtable.rowheads)))
    height = max(c_unit_h * simtable.nrows, c_min_height)
    height += c_char_pad * max(list(map(len, simtable.colheads)))
    fig.set_size_inches(width, height)
    span = simtable.ncols
    cbarspan = c_cbarspan
    ax = plt.subplot2grid((1, span), (0, cbarspan), rowspan=1, colspan=span - cbarspan)
    ax_cbar = plt.subplot2grid((2, span), (0, 0), rowspan=2, colspan=cbarspan)
    ax.yaxis.tick_right()
    ax.yaxis.set_label_position("right")
    ax.set_yticks([0.5 + i for i in range(simtable.nrows)])
    ax.set_xticks([0.5 + i for i in range(simtable.ncols)])
    ax.set_yticklabels(simtable.rowheads, size=c_large_text)
    ax.set_xticklabels(simtable.colheads, rotation=90, rotation_mode="anchor", ha="right", va="center",
                       size=c_large_text)
    ax.xaxis.set_ticks_position('none')
    ax.yaxis.set_ticks_position('none')
    ax.set_ylim(0, len(simtable.rowheads))
    ax.set_xlim(0, len(simtable.colheads))
    ax.set_ylabel(axlabels[0], size=c_giant_text, fontweight='bold')
    ax.set_xlabel(axlabels[1], size=c_giant_text, fontweight='bold')
    # if masking, draw a light grid to help with orientation
    if mask:
        kwargs = {"zorder": 0, "color": c_grid_color}
        xmin, xmax = ax.get_xlim()
        ymin, ymax = ax.get_ylim()
        for y in ax.get_yticks():
            ax.add_line(plt.Line2D([xmin, xmax], [y, y], **kwargs))
        for x in ax.get_xticks():
            ax.add_line(plt.Line2D([x, x], [ymin, ymax], **kwargs))
    # main heatmap
    heatmap = ax.pcolormesh(simtable.data, cmap=cmap, vmin=vmin, vmax=vmax)
    # craziness for getting cbar on the left with left-facing ticks
    norm = matplotlib.colors.Normalize(vmin=vmin, vmax=vmax)
    cbar = matplotlib.colorbar.ColorbarBase(
        ax_cbar,
        norm=norm,
        cmap=plt.get_cmap(cmap),
        orientation="vertical",
    )
    cbar.set_ticks([])
    twin_ax = plt.twinx(ax=cbar.ax)
    twin_ax.yaxis.set_label_position("left")
    twin_ax.yaxis.tick_left()
    [tick.set_size(c_large_text) for tick in twin_ax.get_yticklabels()]
    twin_ax.set_ylim(vmin, vmax)
    if similarity != "Pairwise Similarity":
        similarity = "Pairwise " + similarity
    twin_ax.set_ylabel(similarity, size=c_giant_text)  # , fontsize=c_large_text )
    ticks = [vmin]
    while ticks[-1] < vmax:
        ticks.append(ticks[-1] + c_simstep)
    twin_ax.set_yticks(ticks)
    #
    # number is used as rank of the association based on the order
    number = 0
    # add associations
    for sim_rank, row_items, col_items, sig, _, _ in associations:
        number += 1
        row_items = row_items[::-1]
        y1 = simtable.rowmap[row_items[0]]
        y2 = simtable.rowmap[row_items[-1]]
        x1 = simtable.colmap[col_items[0]]
        x2 = simtable.colmap[col_items[-1]]
        delx = abs(x2 - x1) + 1
        dely = abs(y2 - y1) + 1
        # box
        ax.add_patch(
            patches.Rectangle(
                (x1, y1),
                x2 - x1 + 1,
                y2 - y1 + 1,
                facecolor="none",
                edgecolor="black",
                linewidth=c_line_width,
                clip_on=False,
            )
        )
        # label
        text = str(number)
        size = c_label_scale * min(delx, dely)
        size /= 1 if len(text) == 1 else c_label_aspect * len(text)
        size = int(size)
        text = ax.text(  # np.mean( [x1, x2] )+0.5+c_label_shift*size,
            np.mean([x1, x2]) + .75 + c_label_shift * size if (
                    len(row_items) % 2 != 0 and len(row_items) > 1 and len(col_items) > 1) else \
                np.mean([x1, x2]) + .5 + c_label_shift * size if len(row_items) == 1 else np.mean(
                [x1, x2]) + 0.5 + c_label_shift * size,
            np.mean([y1, y2]) + 0.5 + c_label_shift * size,
            text,
            size=size,
            color="white",
            ha="center",
            va="center",
            weight="bold",
        )
        text.set_path_effects([
            path_effects.Stroke(linewidth=c_outline_width, foreground='black'),
            path_effects.Normal(),
        ])
    # craziness for hiding the border
    plt.setp([child for child in ax.get_children() if isinstance(child, matplotlib.spines.Spine)], visible=False)
    # warnings.filterwarnings("ignore")
    try:
        plt.tight_layout()
    except:
        pass
    plt.savefig(outfile, dpi=paper_dpi, bbox_inches='tight')

In [43]:
simtable = load_order_table(outputpath + '/simtable_X.tsv', associations)

500 500 500
50 50 50
50 50 50

In [44]:
simtable

In [45]:
plot(
    simtable,
    associations,
    cmap="RdBu_r",
    mask=False,
    axlabels=["",""],
    outfile="/Users/rah/Documents/omicsEye/btest/demo/btest_output/blockplot.pdf",
    similarity="Spearman"
)

50 50 50